@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */

*,
*::before,
*::after {
  @apply box-border;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  @apply m-0;
}

ul[role='list'],
ol[role='list'] {
  @apply list-none;
}

html:focus-within {
  @apply scroll-smooth;
}

body {
  @apply min-h-screen m-0 leading-normal bg-green;
  text-rendering: optimizeSpeed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  @apply block max-w-full;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    @apply scroll-auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Layout */

section {
  @apply m-4;
}

.container {
  @apply mx-auto max-w-4xl;
}
